body {
    font-family:Tahoma; font-size:10pt;
}

h1 {
    font-size:18pt; color:#A03; font-weight:normal;
}

h3 {
    font-size:11pt; margin:5px 0;
}

img {
    border:0; margin:0; padding:0;
}

.clear {
    clear:both;
}

a.lighted, a.not-lighted {
    color:#000; text-decoration:none;
}

a.lighted {
    text-decoration: underline;
}

a.sort {
    color: #000;
    font-weight:bold;
    text-decoration:none;
}

table.data {
    margin: 5px 0;
    font-family: Tahoma;
    font-size: 10pt;
}

th {
    text-align: center;
}

td {
    padding: 1px 5px;
    margin:0;
}

input[type=submit] {
    padding: 2px;
}

#main_area {
    padding: 10px;
}

#data_area {
    float:left; margin-bottom:40px;
}

#manage_menu {
    float:left; margin:0; padding:50px 0 20px 60px; font-size:11pt;
}

#menu_top_left_part {
    float:left;
}

#menu_top_middle_part {
    float:left; padding-left:100px;
}

#menu_top a {
    font-size:11pt; line-height:15pt;
}

#menu_top .divider {
    padding-left:40px;
}

#menu_top_right_part {
    float:right; padding-right:20px; text-align:right;
}

