<?php

//Database host
const DB_HOST = 'localhost';

//Database user
const DB_USER = 'root';

//Database password
const DB_PASSWORD = '';

//Database name
const DB_DATABASE = 'patents.dev';

//Database encoding
const DB_ENCODING = 'utf8mb4';

//Database collation
const DB_COLLATION = 'utf8mb4_general_ci';

//Main project dir path
const ROOT_PATH = 'C:\WebServers\home\patents.dev\www\\';

//Path to core dir
const CORE_PATH = ROOT_PATH . 'core/';

//Path to core classes for autoloader
const CLASSES_PATH = ROOT_PATH . 'core/classes/';

//Path to root application dir
const APP_PATH = ROOT_PATH . 'app/';

//Path to controllers
const CONTROLLERS_PATH = APP_PATH . 'Controller/';

//Encoding of .php, .html, etc source files
const FILES_ENCODING = 'UTF-8';

//Path to dir with assets (like css and js files, etc)
const ASSETS_PATH = '/assets/';

//Define path to views files
const VIEWS_PATH = ROOT_PATH . 'resources/views/';

//Recipients of email notification
const RECIPIENTS = [
    //'email1@example.com',
    //'email2@example.com'
];
