.suggest{width:200px;}
#suggest{border:1px solid #098983; padding:2px; color:#06635E !important;width:200px;}
#target{position:absolute;width:200px;}
#target .sel {background:#3A3A3A; color:#FFFFFF;}
.container{border:1px solid #999797;border-top:none;}
.item2 , .item1 {font-size:0.8em !important; padding:2px; background:#EAE8E8; }
.item2 a , .item1 a {text-decoration:none;color:#565656 !important;}
#logger{position:absolute; top:100px; left:400px;}
